/* RESET */
html, body {
    height: 100%;
    overflow-x: hidden;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

.wrapper{
    display:flex;
    min-height:100vh; 
}

#sidebar{
    width:250px;
    position:fixed;
    top:0;
    left:0;
    bottom:0;             
    
    background: var(--card);
    border-right: 1px solid var(--border);

    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index:2000;

    overflow-y: auto;      
}

/* HIDDEN STATE (works for all devices) */
#sidebar.active{
    transform: translateX(-100%);
}

/* HEADER */
.sidebar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
}

.logo{
    font-size:22px;
    font-weight:600;
    color: var(--primary);
}

/* CLOSE BUTTON */
.close-btn{
    font-size:26px;
    cursor:pointer;
    display:none;
}

/* MENU */
.menu{
    list-style:none;
}

.menu li a{
    text-decoration:none;
    color: var(--text-dark);
    font-size:15px;
    display:block;
    padding:14px 20px;
}

.menu li a:hover,
.menu li a.active{
    background:#eef2ff;
    border-radius:5px;
    color: var(--primary);
}

/* MAIN */
.main{
    margin-left:250px;
    width:100%;
    min-height:100vh;
    transition: margin-left 0.3s ease;
}

/* WHEN SIDEBAR HIDDEN */
.main.full{
    margin-left:0;
}

/* TOPBAR */
.topbar{
    height:60px;
    background: var(--card);
    border-bottom:1px solid var(--border);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    position:relative;
    z-index:2100;
}

.menu-btn{
    font-size:22px;
    cursor:pointer;
}

/* CONTENT */
.page-content{
    padding:20px;
}

/* MOBILE */
@media (max-width:768px){

    #sidebar{
        transform: translateX(-100%);
    }

    #sidebar.show{
        transform: translateX(0);
    }

    .main{
        margin-left:0;
    }

    .close-btn{
        display:block;
    }
}